.container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(5, 1fr);
}

.sidebar{
    grid-column: 1 / 2;
}

.header {
    grid-column: 2 / 5;
}

.content {
    grid-column: 2 / 5;
}